snippet debug "console.info"
console.debug(${1});
endsnippet

snippet info "console.info"
console.info(${1});
endsnippet

snippet warn "console.info"
console.warn(${1});
endsnippet

snippet error "console.info"
console.error(${1});
endsnippet

