[submodule "pack/myplugins/start/vim-airline"]
	path = pack/myplugins/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "pack/myplugins/start/nerdtree"]
	path = pack/myplugins/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "pack/myplugins/start/vim-vue"]
	path = pack/myplugins/start/vim-vue
	url = git@github.com:posva/vim-vue.git
[submodule "pack/myplugins/start/vim-javascript"]
	path = pack/myplugins/start/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "pack/start/emmet-vim"]
	path = pack/start/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
