[submodule "pack/myplugins/start/vim-airline"]
	path = pack/myplugins/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "pack/myplugins/start/nerdtree"]
	path = pack/myplugins/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "pack/myplugins/start/vim-vue"]
	path = pack/myplugins/start/vim-vue
	url = git@github.com:posva/vim-vue.git
[submodule "pack/myplugins/start/vim-javascript"]
	path = pack/myplugins/start/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "pack/start/emmet-vim"]
	path = pack/start/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule "pack/myplugins/start/delimitMate"]
	path = pack/myplugins/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "pack/myplugins/start/vim-css3-syntax"]
	path = pack/myplugins/start/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "pack/myplugins/start/vim-closetag"]
	path = pack/myplugins/start/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
[submodule "pack/myplugins/start/command-t"]
	path = pack/myplugins/start/command-t
	url = https://github.com/wincent/command-t.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/command-t.git
